@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #DE354C 1.84%, #932432 102.67%);
  
  --color-bg: #283747;
  --color-primary : #DE354C;
  --color-subtext: #042c54;
  --color-text: #F3F3F3;
  --color-secondary: #932432;
  --color-transparent: rgba(255, 255, 255, 0.1);
}